@import "../Basestyles/base.scss";

.post-page-header {
  background-color: $primary-color;
  padding: 16px 0px;
}

.postWrapper {
  @include flexbox();
  border-bottom: 1px solid #dadada;
  &:last-child {
    border-bottom: none;
  }
  .avatar {
    width: 15%;
    padding: 12px;
    .rounded-circle {
      width: 100%;
    }
  }
  .tags {
    @include flexbox();
    p {
      background: #f8000e4a;
      padding: 0px 8px;
      border-radius: 4px;
      color: #595959;
      font-weight: 600;
      margin: 0px 8px;
    }
  }
  .postInfoCol {
    width: 85%;

    .post-details {
      h4 {
        margin: 0;
        margin-top: 4px;
      }
      .tags {
        margin: 4px 0;
      }
      .companyName {
        color: #0591ae;
      }
    }

    .post-actions-wrapper {
      @include flexbox();
      border-top: 1px solid #dadada;
      margin-top: 12px;
      padding: 4px 0px;
      justify-content: space-between;
      p {
        margin-bottom: 0;
      }
    }
  }
}

//Create post page styling
.create__post {
  .header {
    h2 {
      text-align: center;
    }
  }
}

.username {
  h4 {
    margin-bottom: 0;
  }
  p {
    font-size: 12px;
  }
}
.comments {
  background: #44a5b817;
  padding: 0 12px;
  border-radius: 8px;
}
.search-header {
  display: flex;
  justify-content: space-between;
  button {
    background: #005c6f;
    border: none;
  }
}
.view_comment,
.view_post {
  cursor: pointer;
}
.add-comment {
  font-weight: 900;
  color: #0068af;
  text-decoration: underline;
  padding: 16px 0;
  cursor: pointer;
}
